* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url("./images/pattern-bg-mobile.png");
    background-size: cover;
    background-position: center;
    padding: 24px;
    text-align: center;
    height: 300px;
    position: relative;
    z-index: 2;
}

.hero__title {
    color: white;
    font-weight: 500;
    margin-bottom: 24px;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.search-form__input {
    flex: 1;
    padding: 18px 24px;
    border: none;
    border-radius: 15px 0 0 15px;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}

.search-form__btn {
    background-color: black;
    padding: 0px 24px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-form__btn:hover {
    background-color: #3f3f3f;
}

.info-box {
    background: white;
    width: 100%;
    max-width: 1100px;
    border-radius: 15px;
    padding: 24px;
    margin: 24px auto 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 25px 50px -12px black;
    position: relative;
    z-index: 10;
}

.info-box__label {
    display: block;
    color: hsl(0, 0%, 59%);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.info-box__value {
    color: hsl(0, 0%, 17%);
    font-size: 20px;
    font-weight: 500;
}

.map-container {
    flex-grow: 1;
    min-height: 400px;
    z-index: 1;
}

@media (min-width: 1024px) {
    .hero {
        background-image: url("./images/pattern-bg-desktop.png");
        height: 280px;
    }
    .info-box {
        flex-direction: row;
        padding: 36px;
        text-align: left;
        margin: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    .info-box__item {
        flex: 1;
        border-right: 1px solid black;
        padding: 0 32px;
    }
    .info-box__item:last-child {
        border-right: none;
    }
    .info-box__value {
        font-size: 26px;
    }
}
